

body {
    background: #EAE8FE;
    margin: 0;
}

.logo img {
    display: block;
    width: 386px;
    margin: auto;
}

.main {
    margin: 67px auto;
    height: calc(100vh - 408px);
}

.container {
    display: grid;
    grid-template-areas: 
    "one two"
    "one three"
    "one three"
    "one three"
    "one three"
    "one three"
    "one three"
    "one three";
    gap: 28px;
    justify-content: center;
    align-items: center; 
}

.grid-a {
    background-color: #FFFFFF;
    grid-area: one;
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g g h"
    "i i j"
    "k k l"
    "k k l";
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 31px 27px;
}

.grid-b {
    background-color: #FFFFFF;
    grid-area: two;
}

.grid-c {
    background-color: #FFFFFF;
    grid-area: three;
    height: 507px;
}

.grid-menu1 {
    grid-area: a;
    border: 3px solid #6327FE;
    border-radius: 10px;
}

.cola-img {
    padding: 11px 29px 0 29px;
}

.name {
    text-align: center;
    padding: 0 10px 0 11px;
    font-size: 9px;
}

.price {
    text-align: center;
    padding: 0 10px 0 11px;
    font-size: 12px;
    border-radius: 50px;
    background-color: #6327FE;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 12px 10px;
}



.grid-menu2 {
    grid-area: b;
    background: rgba(0, 0, 0, 0.8);
    border: 3px solid #6327FE;
    border-radius: 10px;
    position: relative;
}



.sold-out {
    position: absolute;
    left: 19px;
    top: 49px;
    width: 51px;
    border: 1px solid black;
    transform: rotate(-17deg);
    background-color: #FFFFFF;
    padding: 1px;
}

.sold-text {
    color: #FFFFFF;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #FFFFFF;
    padding: 2px;
    width: auto;
    margin: auto;
    text-align: center;
}

.grid-menu3 {
    grid-area: c;
    border: 3px solid #BDBDBD;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.grid-menu4 {
    grid-area: d;
    border: 3px solid #BDBDBD;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.grid-menu5 {
    grid-area: e;
    border: 3px solid #6327FE;
    border-radius: 10px;
}

.grid-menu6 {
    grid-area: f;
    border: 3px solid #BDBDBD;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.grid-menu7 {
    grid-area: g;
    background-color: #EAE8FE; 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}

.left-over,
.won {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px;
}

.grid-menu8 {
    grid-area: h;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 9px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.grid-menu9 {
    grid-area: i;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    padding: 6px 9px;
}

.grid-menu10 {
    grid-area: j;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 9px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.grid-menu11 {
    grid-area: k;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
    "ein ein ein zwei"
    "drei drei drei zwei";
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
}

/* .scroll {
    width: 4px;
    height: 79px;
    grid-area: zwei;
    margin-left: auto;
    margin-right: 3px;
    margin-top: 9px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
} */

.cola-list1,
.cola-list2 {
    width: auto;
    border-radius: 10px;
    display: flex;
    font-size: 9px;
    margin: auto 6px 6px 12px;
    padding: 6px 8px;
    background-color: #FFFFFF;
    text-align: left;
}

.cola-list1 {
    grid-area: ein;
    margin-top: 12px;
}

.cola-list2 {
    grid-area: drei;
}

.grid-menu12 {
    grid-area: l;
    width: auto;
    background-color: #6327FE;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 106px;
}


.grid-b {
    width: 360px;
    background-color: #FFFFFF;
}

.have {
    display: flex;
    justify-content: space-between;
    margin: 9px 27px;
    background-color: #EAE8FE;
    font-size: 14px;
    border-radius: 10px;
    padding: 6px 10px;
    font-weight: bold;
}


.goal {
    width: auto;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding-top: 20px;
}

.get {
    width: auto;
    height: 364px;
    margin: auto 37px;
    background-color: #EAE8FE;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.get-cola1,
.get-cola2,
.get-cola3,
.get-cola4 {
    width: auto;
    border-radius: 10px;
    display: flex;
    font-size: 9px;
    margin: 0 6px 6px 10px;
    padding: 6px 8px;
    background-color: #FFFFFF;
    text-align: left;
}



.btn-text {
    width: auto;
    margin: 0 10px;
    line-height: 48px;
    font-size: 9px;
    font-weight: bold;
}

.btn-click {
    width: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-end;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

.get-cola1{
    margin-top: 12px;
}

.total {
    width: auto;
    margin: 6px 37px;
    text-align: end;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}


@media (max-width: 360px) { 
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
}





